<ion-view title="QuesCou">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-content class="has-header">
		<h1>About QuesCou</h1> 
		<img src="../img/ic_launcher.png">
		<div>
			<p><span style="font-weight: bold">QuesCou</span> &eacute;s una aplicaci&oacute; cultural multi-disciplinar creada amb la finalitat de donar a con&egrave;ixer i fomentar l&rsquo;activitat cultural i art&iacute;stica de Barcelona. Un espai per descobrir, crear, promoure i compartir noves tend&egrave;ncies.</p>
			<p><span style="font-weight: bold">QuesCou</span> &eacute;s una nova forma de trobar i generar de manera instant&agrave;nia, una incre&iuml;ble quantitat de contingut, activitats i esdeveniments que mantindran entretingut i informat a l&rsquo;usuari.</p>
			<p><span style="font-weight: bold">QuesCou</span> NO &eacute;s una agenda cultural de Barcelona, &eacute;s una manera de donar a con&egrave;ixer artistes o creadors d&rsquo;&agrave;mbits molt diferents, molts dels quals desconeguts, alimentant i incrementant la xarxa cultural per la qual &eacute;s tan coneguda aquesta ciutat.</p>
			<p><span style="font-weight: bold">QuesCou</span> d&oacute;na a l&rsquo;usuari la possibilitat de saber en cada moment i en temps real qu&egrave; es cou al seu voltant, filtrant per interessos, per barris de Barcelona i diferenciant en tres franges hor&agrave;ries clarament definides: <span style="color: #09AA81;">mat&iacute;</span>, <span style="color: #F3B302">tarda</span> i <span style="color: #E72E4D">nit</span>.</p>
			<p>Els usuaris, individuals o col&middot;lectius, privats o p&uacute;blics, tenen la possibilitat de crear un perfil a partir d&rsquo;una s&egrave;rie d&rsquo;interessos (per exemple fotografia, disseny, art, m&uacute;sica...) i un barri o varis barris de Barcelona (tamb&eacute; podem estar interessats en tots els barris). Aquest &eacute;s el punt diferencial de <span style="font-weight: bold">QuesCou</span> respecte altres aplicacions merament informatives: volem saber qu&egrave; est&agrave; passant ara i en les pr&ograve;ximes 24 hores</p>
			<p>A partir d&rsquo;aqu&iacute;, tenim la possibilitat de connectar usuaris mitjan&ccedil;ant missatges directes (no p&uacute;blics) que poden generar converses. Aix&iacute; doncs, &eacute;s tamb&eacute; una manera de crear contactes entre gent amb interessos comuns o que en un moment determinat pot resultar interessant.</p>
		<p>Luc&iacute;a Morandeira i Xavier Garc&eacute;s</p>
		<p><a href="http://www.quescou.com">www.quescou.com</a></p>
		</div>
  </ion-content>
</ion-view>
