<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<widget id="com.ionicframework.quescou209973" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
  <name>QuesCou</name>
  <description>
        QuesCou
  </description>
  <author email="xgarcesmarti@gmail.com" href="http://www.quescou.com.com/">
      Equip Quescou: Xavier Garcés i Lucía Morandeira
  </author>
  <content src="index.html"/>
  <access origin="*"/>
  <preference name="webviewbounce" value="false"/>
  <preference name="UIWebViewBounce" value="false"/>
  <preference name="DisallowOverscroll" value="true"/>
  <preference name="BackupWebStorage" value="none"/>
  <preference name="AutoHideSplashScreen" value="true" />
  <preference name="ShowSplashScreenSpinner" value="true" />
  <feature name="StatusBar">
    <param name="ios-package" value="CDVStatusBar" onload="true"/>
  </feature>
  <preference name="SplashScreen" value="screen" />
  <preference name="SplashScreenDelay" value="10000" />
  <platform name="android">
    <splash src="res/splash-port-hdpi" density="port-hdpi"/>
    <splash src="res/splash-port-ldpi" density="port-ldpi"/>
    <splash src="res/splash-port-mdpi" density="port-mdpi"/>
    <splash src="res/splash-port-xhdpi" density="port-xhdpi"/>
  </platform>  
</widget>